.block-group-content {
  display: flex;
  flex-direction: column;
  align-items: var(--align-items, flex-start);
  text-align: var(--text-alignment);
  margin-bottom: var(--margin-bottom);
}
.block-group-content .block-kicker {
  margin-bottom: 0.5rem;
}
.block-group-content:has(.block-group-anchors) .block-text {
  margin-bottom: 1.5rem;
}
.block-group-content.add-margin {
  margin-bottom: 2rem;
}